@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@font-face {
    font-family: LuckiestGuy-Regular;
    src: url('./fonts/LuckiestGuy-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('./fonts/OpenSans_Condensed-Regular.ttf');
    font-weight: 400;
}

#section1 h1, #section5 h1{
    font-family: LuckiestGuy-Regular;
    color: white;
    font-size: 32px; 
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1.5rem;
}
#section5 h1{
    color: #23272A;
}
#section1 p{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3rem;
}
p{ 
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color:#23272A;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3rem;
}
h1{ 
    font-family: 'Open Sans', sans-serif;
    color: #23272A;
    font-size: 24px;
    font-weight: 800;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1.5rem;
}
button{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3rem;
}

@media screen and (min-width:1000px) {
    #section1 h1, #section5 h1{
    font-family: LuckiestGuy-Regular;
    color: white;
    font-size: 59px;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1.5rem;
    }
   main{
        height: 6rem;
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-size: 15px;
        font-weight: 600;
        line-height: 3rem;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 1.5rem;

    }
    main ul li:hover{
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-size: 15px;
        font-weight: 600;
        line-height: 3rem;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 0rem;
        text-decoration: underline;

    }
    main ul{
        height: 3rem;
        width: 40%;
        justify-content:center;
    
    
    }
    #abrir_discord{
        font-family: 'Open Sans', sans-serif;
        color:#23272A;
        font-size: 15px;
        font-weight: 600;
    
    }
    #section5 h1{
    color: #23272A;
    }
    #section1 p{
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        color: white;
        font-weight: 400;
        font-size: 19px;
        line-height: 1.3rem;
    }
    p{ 
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        color:#23272A;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3rem;
    }
    h1{ 
        font-family: 'Open Sans', sans-serif;
        color: #23272A;
        font-size: 38px;
        font-weight: 800;
        line-height: 2.8rem;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 1.5rem;
    }
    button{
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        color: white;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.3rem;
    }
}